<h1><%= t('.title') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('.name') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @routes.each do |route| %>
      <tr>
        <td><%= route.name %></td>
        <td><%= link_to t('common.show'), [:admin, route] %></td>
        <td><%= link_to t('common.edit'), edit_admin_route_path(route) %></td>
        <td><%= link_to t('common.delete'), [:admin, route], method: :delete, data: { confirm: t('common.sure') } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_route'), new_admin_route_path %>