<p>
  <strong><%= t('.name') %></strong>
  <%= @route.name %>
</p>

<p>
  <strong><%= t('.train_in_route') %></strong>
  <% if @route.trains.empty? %>
    <%= t('.no_train') %>
  <% else %>
    <ul>
    <% @route.trains.each do |train| %>
      <li>
        <%= link_to "#{train.number}", [:admin, train] %>
      </li>
    <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong><%= t('.route_stations') %> </strong>
  <% if @route.railway_stations.empty? %>
    <%= t('.no_station') %>
  <% else %>
    <table>
      <thead>
        <tr>
          <td width="150px"><%= t('.station_name') %></td>
          <td><%= t('.position') %></td>
          <td><%= t('.arrive_time') %>
          <td><%= t('.depart_time') %>
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.ordered.each do |station| %>
          <tr>
            <td><%= station.name %></td>
            <td>
                <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
                <%= number_field_tag :position, station.position_in(@route) %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag t('.change') %>
              <% end %>
            </td>
                <%= form_tag update_time_admin_railway_station_path(station), method: :patch do %>
                <td> <%= datetime_field_tag :arrive_time, station.time_in(@route, :arrive_time)%></td>
                <td> <%= datetime_field_tag :depart_time, station.time_in(@route, :depart_time)%>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag t('.change')%></td>
                <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
