<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Поезда на маршруте:</strong>
  <% if @route.trains.empty? %>
    Поездов на маршруте нет
  <% else %>
    <ul>
    <% @route.trains.each do |train| %>
      <li>
        <%= link_to "#{train.number}", [:admin, train] %>
      </li>
    <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Станции маршрута: </strong>
  <% if @route.railway_stations.empty? %>
    Станций в маршруте нет
  <% else %>
    <table>
      <thead>
        <tr>
          <td width="150px">Название</td>
          <td>Позиция</td>
          <td> Время прибытия
          <td> Время отправления
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.ordered.each do |station| %>
          <tr>
            <td><%= station.name %></td>
            <td>
                <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
                <%= number_field_tag :position, station.position_in(@route) %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag "Изменить" %>
              <% end %>
            </td>
                <%= form_tag update_time_admin_railway_station_path(station), method: :patch do %>
                <td> <%= datetime_field_tag :arrive_time, station.time_in(@route, :arrive_time)%></td>
                <td> <%= datetime_field_tag :depart_time, station.time_in(@route, :depart_time)%>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag "Изменить" %></td>
                <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<%= link_to 'Редактировать', edit_admin_route_path(@route) %> |
<%= link_to 'Назад', admin_routes_path %>
