<%= form_for(train) do |f| %>
    <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :current_station, 'Текущая станция' %>
    <%= f.collection_select :current_station_id, RailwayStation.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :order, "Нумерация вагонов:" %>
    <%= f.select(:order, options_for_select([['C головы', true], ['C хвоста', false]])) %>
  </div>

   <div class="field">
    <%= f.label :route, 'Маршрут' %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
   </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
