<p id="notice"><%= notice %></p>

<ul>
  <li>
  <strong>Номер:</strong>
  <%= @train.number %>
  </li>
  <li>
  <% if @train.route.nil? %>
      Маршрут не назначен
    <%else%>
      <strong>Маршрут:</strong>
      <%= @train.route.name %>
    <%end%>
  </li>
  <li>
    <strong>Количество купейных вагонов:</strong>
    <%= @train.wagons_count('Купейный')%>
  </li>
  <li>
    <strong>Количество плацкартных вагонов:</strong>
    <%= @train.wagons_count('Плацкартный')%>
  </li>
  <li>
    <strong>Количество мест в купейных вагонах(нижние/верхние):</strong>
    <%= "#{@train.seats_count('Купейный','Нижние')}/#{@train.seats_count('Купейный','Верхние')}" %>
  </li>
  <li>
    <strong>Количество мест в плацкартных вагонах(нижние/верхние):</strong>
    <%= "#{@train.seats_count('Плацкартный','Нижние')}/#{@train.seats_count('Плацкартный','Верхние')}" %>
  </li>

</ul>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
