<p id="notice"><%= notice %></p>

<ul>
  <li>
  <strong>Номер:</strong>
  <%= @train.number %>
  </li>
  <li>
  <% if @train.route.nil? %>
      Маршрут не назначен
    <%else%>
      <strong>Маршрут:</strong>
      <%= @train.route.name %>
    <%end%>
  </li>
</ul>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
