<p id="notice"><%= notice %></p>

<ul>
  <li>
  <strong>Номер:</strong>
  <%= @train.number %>
  </li>
  <li>
  <% if @train.route.nil? %>
      Маршрут не назначен
    <%else%>
      <strong>Маршрут:</strong>
      <%= @train.route.name %>
    <%end%>
  </li>
  <li>
    <strong>Количество купейных вагонов:</strong>
    <%= @train.wagons.where("wagon_type == 'Купейный'").count%>
  </li>
  <li>
    <strong>Количество плацкартных вагонов:</strong>
    <%= @train.wagons.where("wagon_type == 'Плацкартный'").count%>
  </li>
  <% low_count_k, low_count_p, high_count_k, high_count_p = 0, 0, 0, 0 %>
  <% @train.wagons.each do|wagon| %>
      <% if wagon.wagon_type == 'Купейный' %>
          <% low_count_k += wagon.low %>
          <% high_count_k += wagon.high %>
      <% else %>
          <% low_count_p += wagon.low %>
          <% high_count_p += wagon.high %>
      <% end  %>
  <% end %>
  <li>
    <strong>Количество мест в купейных вагонах(нижние/верхние):</strong>
    <%= "#{low_count_k}/#{high_count_k}" %>
  </li>
  <li>
    <strong>Количество мест в плацкартных вагонах(нижние/верхние):</strong>
    <%= "#{low_count_p}/#{high_count_p}" %>
  </li>

</ul>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
