<h1> Поиск билета </h1>

<div class="row">
  <%= form_tag search_path do %>
    <div class="col-md-4">
       <%= select_tag :first_station_id, options_from_collection_for_select(@railway_stations, :id, :name), class: 'form-control' %>
    </div>

    <div class="col-md-4">
    <%= select_tag :last_station_id, options_from_collection_for_select(@railway_stations, :id, :name), class: 'form-control' %>
    </div>

    <div class="col-md-4">
      <%= submit_tag 'Искать', class: 'btn btn-primary' %>
    </div>

    <% if @trains %>
    <div class="col-md-12">
      <table>
        <thead>
          <th> Номер поезда </th>
          <th> Маршрут</th>
          <th> Время отправления</th>
          <th> Время прибытия</th>
        </thead>
        <tbody>
          <% @trains.each do |train| %>
            <tr>
              <td> <%= train.number %> </td>
              <td> <%= train.route.name %> </td>
              <td> <%= train.route.station_time(@first_station, :depart_time) %> </td>
              <td> <%= train.route.station_time(@last_station, :arrive_time) %> </td>
              <td> <%= link_to 'Купить', new_ticket_path(train_id: train.id, first_station_id: @first_station.id, last_station_id: @last_station) %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    <% end %>
  <% end %>
</div>