<%= form_for [@train, @wagon.becomes(Wagon)] do |f| %>
    <%= render 'common/errors', resource: @wagon %>

    <div class="field">
    <strong> Тип вагона: </strong>
    <% if wagon.new_record? %>
      <%= f.collection_select :wagon_type, Wagon::WAGON_TYPES, :first, :last  %>
    <% else %>
      <%= Wagon::WAGON_TYPES[wagon.wagon_type] %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :top_seats, 'Количество верхних мест' %>
      <%= f.number_field :top_seats %>
    </div>

    <div class="field">
      <%= f.label :bottom_seats, 'Количество нижних мест' %>
      <%= f.number_field :bottom_seats %>
    </div>

    <div class="field">
      <%= f.label :side_top_seats, 'Количество верхних боковых мест' %>
      <%= f.number_field :side_top_seats %>
    </div>

    <div class="field">
      <%= f.label :side_bottom_seats, 'Количество нижних боковых мест' %>
      <%= f.number_field :side_bottom_seats %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
