<%= form_for(route) do |f| %>
    <%= render 'common/errors', resource: @route %>

    <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>
