<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Поезда на маршруте:</strong>
  <% if @route.trains.empty? %>
    Поездов на маршруте нет
  <% else %>
    <ul>
    <% @route.trains.each do |train| %>
      <li>
        <%= link_to "#{train.number}", train %>
      </li>
    <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Станции маршрута: </strong>
  <% if @route.railway_stations.empty? %>
    Станций в маршруте нет
  <% else %>
    <ul>
    <% @route.railway_stations_routes.ordered.each do |station_in_route| %>
      <li>
      <%= link_to "#{station_in_route.station_index} #{station_in_route.railway_station.name}", station_in_route.railway_station %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
