<tr>
  <td>
  <div id="train_number_<%= train.id %>">
    <%= link_to "#{train.number}", '', class: 'edit_train_number', data: { train_id: train.id }%>
  </div>
  <div id="edit_train_number_<%= train.id %>" style="display: none;">
    <%= form_tag update_number_admin_train_path(train), method: :patch do %>
     <%= text_field_tag :number %>
     <%= submit_tag 'Изменить'%>
    <% end %>
  </div>
  </td>
  <td><%= link_to 'Показать', [:admin, train] %></td>
  <td><%= link_to 'Редактировать', edit_admin_train_path(train) %></td>
  <td><%= link_to 'Удалить', [:admin, train], method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
</tr>